*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #aacacf;
}
h2{
    text-align: center;
    margin: 3% 0;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2.2rem;
}
.calculator-container{
    border: 1px solid black;
    width: 80%;
    max-width: 400px;
    margin: auto;
    background-color: black;
}

.calculator-container input{
    text-align: right;
    font-size: 1.4rem;
    outline: none;
    padding: 20px 10px;
    width: 100%;
    height: 100%;
}
.btn-container{
    width: 100%;
}
.calculator-container button{
    font-size: 1.2rem;
    border: none;
    background-color: black;
    color: white;
    border: 1px solid rgba(245, 238, 238, 0.404);
    width: 24.2%;
    height: 65px;
    cursor: pointer;
    padding: 5px;
}
.calculator-container button:hover{
    background-color: rgb(22, 22, 218);
}
